<%=stylesheet_link_tag "bjqs.css" %>

<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Open+Sans:300' rel='stylesheet' type='text/css'>


<%=stylesheet_link_tag "cusin.css" %>
 <div id="banner-fade">
    <ul class="bjqs">
  <li><%= image_tag("cusine/Picture1.jpg",:alt=>"Overflow: Hidden No More") %></li>
  <li><%= image_tag("cusine/Picture4.jpg",:alt=>"Overflow: Hidden No More")%></li>
 
 </ul>

 
 <script class="secret-source">
        jQuery(document).ready(function($) {

          $('#banner-fade').bjqs({
            height      : 450,
            width       : 900,
            responsive  : true
          });

        });
      </script>
  </div>    



<div id="cusineimage"><%= image_tag("cusine/Picture2.png",:size=>"300x300",:alt=>"Overflow: Hidden No More")%>


<%= image_tag("cusine/Picture3.png",:size=>"300x300",:alt=>"Overflow: Hidden No More")%></div>

<p>In every fun filled day, indulge in the time honoured planters’ traditions: Roaring fires indoors, or the starlit night outdoors, and the comfort of a scotch whisky accompanied by roasted cashews and delightful Coorgi nibbles to stimulate the appetite. An aromatic dinner that is at once contemporary and colonial with its garden fresh ingredients married with wines, best shared in good company.  </p>

<p>On excursions & activities, enjoy picnic basket lunches replete with wine and Coorg Coffee. </p>
