<%=stylesheet_link_tag 'pages.css.scss'%>

<div id="featured"> 
    <%= image_tag("home/image 1.jpg",:size => "800x450",:alt=>"Overflow: Hidden No More") %>
    <%= image_tag("home/image 2.jpg",:size => "800x450",:alt=>"Overflow: Hidden No More")%>
    <%= image_tag("home/image 3.jpg",:size => "800x450",:alt=>"Overflow: Hidden No More") %>
    <%= image_tag("home/image 4.jpg",:size => "800x450",:alt=>"Overflow: Hidden No More") %>
</div>

<p>The  Western Ghats mountain ranges running along western part of  the Indian peninsula  are UNESCO’s World Heritage Site and is considered one of the eight biological hotspots of the world.
</p>


<p><%= image_tag("home/image 12.jpg",:alt=>"Overflow: Hidden No More",:size =>"450x200") %>
   <%= image_tag("home/image 13.png",:alt=>"Overflow: Hidden No More",:size =>"450x200") %> </p>

