<div id="banner-fade">
    <ul class="bjqs">
  <li><%= image_tag("trail/image2.png",:alt=>"Overflow: Hidden No More") %></li>
  <li><%= image_tag("trail/image.png",:alt=>"Overflow: Hidden No More")%></li>
  <li><%= image_tag("trail/image3.png",:alt=>"Overflow: Hidden No More") %></li>
  <li><%= image_tag("trail/image 4.png",:alt=>"Overflow: Hidden No More") %></li>
  <li><%= image_tag("trail/image5.png",:alt=>"Overflow: Hidden No More") %></li>
 </ul>

 
 <script class="secret-source">
        jQuery(document).ready(function($) {

          $('#banner-fade').bjqs({
            height      : 450,
            width       : 900,
            responsive  : true
          });

        });
      </script>
  </div>    

<h2>COORG</h2>
<p>It didn’t take long for the British to figure out that the ageless mountains of the luscious Coorg were well suited for coffee and they promptly got to work creating plantations, which cover the hillsides in surreally fluffy looking blankets of green. Here in solitude at an altitude of  1000 meters Coorg is in the middle of the Western Ghats or the Sahyadri Range, considered by UNESCO as World Heritage Site and one of the eight “hotspots” of biological diversity in the world. Today’s Coorg plantation estates are great for crisp mountain air, lush forests, walking trails and some of the world’s very best coffee. The changing colours of the ravines contribute to the three dimensional view of the breathtaking landscape. Coorg is rejuve guaranteed. The unique Coorgi or Kodava race keep themselves fighting fit with a number of sporting activities and nourish themselves with divine non to mid spicy cuisine and beverages.</p>


<p>Coorg is 250 kms / 6 hours comfortable drive  away from Bengaluru. Narrow winding roads in Coorg run through undulating hills covered with coffee plantations on either side, and, at times open out to the mountain ranges, ravines and waterfalls. 
</p>
